<div>
    <h1>{{ title() }}</h1>
  </div>
  
  <div>
    Name: <input [(ngModel)]="name" type="text">
    Username: <input [(ngModel)]="username"  type="text">
    <button (click)="addUser()">Save!</button>
  </div>
  <br/>

  <!-- <div *ngFor="let item of categories">
    <p>{{ item }}</p>
  </div> -->


  <!-- <div class="user-container">
    <div *ngFor="let item of categories" class="user-card">
        <img [routerLink]="['/category', item]" [src]="'assets/images/' + item + '.jpg'" alt="User image" class="user-image"/>
        <h3 [routerLink]="['/category', item]" style="color:rgb(75, 47, 5)">{{item}}</h3>
    </div>
  </div> -->



  <!-- <br/>
  <div>
    <label for="userSelect">Choose user of the day!</label>
    <select id="userSelect" [(ngModel)]="selectedUsername" (ngModelChange)="onSelectUser()">
        <option value="" disabled selected>Please choose...</option>
        <option *ngFor="let user of users" [value]="user.username">
            {{ user.name }} ({{ user.username }})
        </option>
    </select>
  </div>

  <div *ngIf="selectedUser">
    <h3>The chosen one:</h3>
    <p><strong> Name: </strong> {{selectedUser.name }} </p>
    <p><strong> Username: </strong> {{selectedUser.username }} </p>
  </div>


  <div class="user-container">
    <div *ngFor="let user of users" class="user-card">
        <img [src]="'assets/images/' + user.username + '.png'" alt="User image" class="user-image">
        <h3 style="color:rgb(75, 47, 5)">{{user.name}}</h3>
        <p style="color:rgb(179, 90, 6)">{{user.username}}</p>
    </div>
  </div>
   -->

  <!-- <table>
    <thead>
      <tr>
        <th>Name: </th>
        <th>Username: </th>
        <th>Role:</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users">
        <td> {{item.name}} </td>
        <td> {{item.username}} </td>
      </tr>
    </tbody>
  </table> -->