.items-card {
    border: 4px solid #E6D5B8;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  }

.items-container {
    display: -moz-inline-box;
    grid-template-columns: repeat(5, 1fr); 
    gap: 80px;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;  
}

.search-input {
  width: 50%; /* Увеличиваем ширину на 50% */
  height: 120%; /* Увеличиваем высоту на 50% */
  color: #a8350b; /* Оранжевый цвет текста */
  font-size: 1em; /* Увеличенный размер шрифта */
  padding: 10px; /* Внутренние отступы */
  border: 2px solid #a8350b; /* Оранжевая рамка */
  border-radius: 5px; /* Скругленные углы */
  outline: none; /* Убираем синюю рамку при фокусе */
}

.search-input::placeholder {
  color: #888; /* Цвет плейсхолдера */
  font-weight: normal;
}